*{
    font-family: 'Plus Jakarta Sans';
    list-style: none;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #347999;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 3%;
}

.container {
    display: flex;
    margin-top: 50px;
    position: relative;
    display: block;
    margin: 20px auto;
    width: 422px;
    height: 650px;
    background: #EEE;
    border-radius: 10px 10px 60px 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.screen {
    display: flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #343232;
    width: 80%;
    height: 50%;
    border-radius: 10px;
}

#petImage {
    display: flex;
}

.phones {
    position: absolute;
    bottom: 19px;
    left: 50%;
    padding: 3px 5px;
    transform: translateX(-50%);
    color: #000000;
    background-color: #bb3333;
    text-transform: uppercase;
    border-radius: 30px;
}

.messages {
    margin: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    color: #347999;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%; 
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px;
    min-width: 105px;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: #347999;
    border: 1px solid;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
.button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;

}