*{
    font-family: 'Plus Jakarta Sans';
    list-style: none;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #347999;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 2%;
}

.container {
    display: flex;
    margin-top: 50px;
    position: relative;
    display: block;
    margin: 20px auto;
    width: 422px;
    height: 650px;
    background: #EEE;
    border-radius: 10px 10px 60px 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
.screen {
    display: flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    width: 80%;
    height: 50%;
}

.phones {
    position: absolute;
    bottom: 4px;
    left: 50%;
    padding 3px 5px;
    transform: translateX(-50%);
    color: #dadada;
    background-color #e8e8e8;
    text-transform: uppercase;
    border-radius: 30px;
}
  
#petImage {
    display: flex;
}
